<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>hasJoin</key>
		<false/>
		<key>img</key>
		<string>http://pimg.dmcdn.cn/perform/project/993/99307_n.jpg</string>
		<key>theme</key>
		<string>2016 BIGBANG MADE [V.I.P] TOUR IN GUANGZHOU</string>
		<key>abstract</key>
		<string>当晚BIGBANG不仅会以全新方式呈现新老经典歌曲，以最饱满的状态歌声回馈广大歌迷，还有粉丝互动环节，让我们敬请期待。</string>
		<key>price</key>
		<string>680-1480</string>
		<key>time</key>
		<string>2016.07.07</string>
		<key>detailurl</key>
		<string>http://item.damai.cn/99307.html</string>
		<key>adress</key>
		<string>广州国际体育演艺中心</string>
	</dict>
	<dict>
		<key>hasJoin</key>
		<false/>
		<key>img</key>
		<string>http://pimg.damai.cn/perform/project/1033/103388_n_109_144.jpg</string>
		<key>theme</key>
		<string>莫斯利安•五月天Just Rock It 2016 就是演唱会-深圳站</string>
		<key>abstract</key>
		<string>9月24日，欢迎你化身&quot;派对动物&quot;，加入这场名为&quot;人生&quot;的大型派对</string>
		<key>price</key>
		<string>255-1355</string>
		<key>time</key>
		<string>2016.09.24</string>
		<key>detailurl</key>
		<string>http://item.damai.cn/103388.html</string>
		<key>adress</key>
		<string>龙岗大运中心体育场</string>
	</dict>
	<dict>
		<key>hasJoin</key>
		<false/>
		<key>img</key>
		<string>http://pimg.damai.cn/perform/project/978/97885_n_109_144.jpg</string>
		<key>theme</key>
		<string>陈奕迅 ANOTHER EASON’S LIFE演唱会 成都站</string>
		<key>abstract</key>
		<string>2016年，&quot;Another Eason‘s LIFE&quot;延续上一年带给我们的感动，与你继续分享陈奕迅(Eason)对生活的感悟。</string>
		<key>price</key>
		<string>380-1880</string>
		<key>time</key>
		<string>2016.07.07</string>
		<key>detailurl</key>
		<string>http://item.damai.cn/99307.html</string>
		<key>adress</key>
		<string>成都体育中心</string>
	</dict>
	<dict>
		<key>hasJoin</key>
		<false/>
		<key>img</key>
		<string>http://pimg.damai.cn/perform/project/951/95181_n_109_144.jpg</string>
		<key>theme</key>
		<string>周杰伦2016“地表最强”世界巡回演唱会—上海站</string>
		<key>abstract</key>
		<string>周杰伦2016世界巡回演唱会-上海站</string>
		<key>price</key>
		<string>680-1480</string>
		<key>time</key>
		<string>2016.07.01</string>
		<key>detailurl</key>
		<string>http://item.damai.cn/95181.html</string>
		<key>adress</key>
		<string>上海世博文化中心</string>
	</dict>
	<dict>
		<key>hasJoin</key>
		<false/>
		<key>img</key>
		<string>http://pimg.damai.cn/perform/project/939/93925_n.jpg</string>
		<key>theme</key>
		<string>TFBOYS FANS TIME</string>
		<key>abstract</key>
		<string>今日，TFBOYS官方公布将于2015年8月8日16:00在北京首都体育馆举办两周年粉丝见面会，回馈粉丝们两年来的陪伴与守护。</string>
		<key>price</key>
		<string>280-1480</string>
		<key>time</key>
		<string>2016.08.08</string>
		<key>detailurl</key>
		<string>huodong</string>
		<key>adress</key>
		<string>北京市首都体育馆</string>
	</dict>
</array>
</plist>
